*{
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}

.contenedor-productos{
    display: flex;
    ;background-color: grey;
}

.product-selected{
    background-color: green;
    color: white;
}